@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/*----------------------------color */
.bg-color-title-subtitle{
  background-color: black; 
  color: white;
  font-style: italic; 
}
.bg-color-main-points{
  background-color:black; 
  color: white; 
}
.ui-menu-color-home {
  background-color: black; 
}
.ui-menu-color-gallery {
  background-color: black; 
}
.ui-menu-color-book {
  background-color: black; 
  }
  .ui-menu-color-contact {
    background-color: black; 
  }
/*----------------------------special padding/margin/text */

h1,h2,h3,h4 {
  margin: 0; 
}

.uppercase {
  text-transform: uppercase; 
}

.general-sub{
  font-family: "exo" , sans-serif; 
  font-weight: 300; 
  color: white; 
}

.row-table{
  display:table; 
}

.section-column{
  display: table-cell; 
  padding: 0 30px 30px;
  float: none; 
}

.section-heading{
  font-family: "exo", sans-serif; 
  font-weight: 300px; 
  margin-top: 25px; 
  margin-bottom: 45px;  
}
/*----------------------------heading */
header {
    margin: 0; 
    background-color: black; 
}

.heading{
  margin-left: 20px;
}

.logo {
  background: url(../css/images/spinlabs-logo.jpg);
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px; 
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out; 
  -webkit-transition: all 0.5s ease-in-out; 
}

.title{
  font-family: "roboto", sans-serif;
  font-weight: 100; 
  font-size: 46px;
  margin-top: 50px; 
  color: white; 
  text-align: center; 
}

.subtitle{
  font-family: "roboto", sans-serif; 
  font-weight: 200; 
  font-size: 28px; 
  margin-top: 20px; 
  margin-bottom: 90px; 
  color: white; 
  text-align: center; 
}

.list-inline-item:not(:last-child) {
  margin: 0;
}

.menucontainer {
  font-size: 0; 
}

#nav li {
  font-size: 14px;
  padding: 0;
}

.menuitem {
  height: 120%; 
  text-align: center; 
  padding: 0;
}

.menuitem a{
  width: 100%; 
  text-decoration: none; 
  color: white; 
  height: 120px; 
}

.menuitem a i {
  padding-top: 26px; 
  display: block; 
  color: white; 
  height: 120px; 
}

.menuitem span {
  display:block; 
  width: 100%; 
  padding-top: 5px; 
  text-align: center; 
  text-transform: uppercase; 
  font-size: 14px; 
  font-weight: 300; 
  letter-spacing: 2px; 
}

/*---------------------footer */ 

footer {
  background-color: black; 
  color: white; 
  min-height: 120px;
}

footer a i{
  color:white; 
  margin: 0; 
  font-size: 28px; 
}

.socials{
  text-align: center;
  padding-top: 40px; 
}
/*----------------------------main-points */ 

.main-points-icon{
  font-size: 26px; 
  color: white; 
}

.main-points-heading{
  margin-bottom: 15px; 
}

/*---------------------------- booking */

.form-section{
    background-color: black; 
    color: white; 
    padding: 24px;
    background-size: cover;
    background-position: center;
    height: 600px; 
    display: flex;
    justify-content: center;
    align-items: center; 
}

.form-section, h2{
    font-family: "roboto", sans-serif; 
    padding-bottom: 20px; 
}

/*---------------------------- booking-result */

 .booking-result{
    background-color: black; 
    color: white;
    align-items: center; 
    height: 600px;
    display: flex;
    justify-content: center;
 }

 .booking-result h2{
    font-family: "roboto", sans-serif;
    align-items: center; 
    padding: 20px; 
 }
 
 /*---------------------------- contact-us */
.contact-section{
    background-color: black; 
    color:white; 
}
 .contact-container{
    font-family: "exo", sans-serif; 
    padding: 0; 
    margin: 0; 
    height: 600px;
    align-items: center;  
    justify-items: center; 
 }

 .contact-column{
    align-items: center; 
    margin-top: 100px; 
 }